# Exclude   
*

# Include
!embeddings/
!embeddings/**
!data/
!data/**
!preds/
!preds/**
!results/
!results/**
!utils/
!utils/**
!baseline.py
!.gitignore
.DS_Store
**/.DS_Store

data/5k_items_curated.csv
data/queries.csv